In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [85]:
info_df = pd.read_csv('D:\Amr\Projects\ML project\Data - Reviews\info_base_games.csv')
gamalytic_df = pd.read_csv('D:\Amr\Projects\ML project\Data - Reviews\gamalytic_steam_games.csv')
dlcs_df = pd.read_csv('D:\Amr\Projects\ML project\Data - Reviews\dlcs.csv')
demos_df = pd.read_csv('D:\Amr\Projects\ML project\Data - Reviews\demos.csv')

C:\Users\yasse\AppData\Local\Temp\ipykernel_30592\4063682341.py:1: DtypeWarning: Columns (0,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  info_df = pd.read_csv('D:\Amr\Projects\ML project\Data - Reviews\info_base_games.csv')

In [86]:
info_df.head()

,appid,name,metacritic,steam_achievements,steam_trading_cards,workshop_support,genres,achievements_total,release_date,supported_platforms
0,2574000,Femboy Burgers,NaN,True,True,True,"Casual, Indie",NaN,"Oct 9, 2023","['windows', 'mac', 'linux']"
1,2574120,PPA Pickleball Tour 2025,NaN,True,True,True,"Indie, Simulation, Sports",18,"Jul 16, 2024","['windows', 'mac', 'linux']"
2,2573200,Squeaky Squad,NaN,True,True,True,"Action, Adventure, Indie",27,"Mar 29, 2024","['windows', 'mac', 'linux']"
3,2573440,Paradox Metal,NaN,True,True,True,"Action, Early Access",NaN,Coming soon,"['windows', 'mac', 'linux']"
4,2569520,Naturpark Lillebælt VR,NaN,True,True,True,"Action, Adventure",NaN,"Sep 18, 2023","['windows', 'mac', 'linux']"

In [87]:
info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99167 entries, 0 to 99166
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   appid                99167 non-null  object
 1   name                 99149 non-null  object
 2   metacritic           3019 non-null   object
 3   steam_achievements   99167 non-null  bool
 4   steam_trading_cards  99167 non-null  bool
 5   workshop_support     99167 non-null  bool
 6   genres               94389 non-null  object
 7   achievements_total   38115 non-null  object
 8   release_date         98861 non-null  object
 9   supported_platforms  99167 non-null  object
dtypes: bool(3), object(7)
memory usage: 5.6+ MB

In [88]:
gamalytic_df.head()

   steamId  price  copiesSold publisherClass  reviewScore  aiContent
0      730    0.0   302158048            AAA           87        NaN
1      570    0.0   212896574            AAA           82        NaN
2   578080    0.0   161971233            AAA           59        NaN
3      440    0.0    99060457            AAA           90        NaN
4  1172470    0.0    67554185            AAA           67        NaN

In [89]:
gamalytic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93338 entries, 0 to 93337
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   steamId         93338 non-null  int64
 1   price           93338 non-null  float64
 2   copiesSold      93338 non-null  int64
 3   publisherClass  93338 non-null  object
 4   reviewScore     93338 non-null  int64
 5   aiContent       0 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 4.3+ MB

In [90]:
dlcs_df.head()

  base_appid dlc_appid                                             name
0    1786750   2568660                    家出王女 - 全年齢版ストーリー&グラフィック追加 DLC
1    1981700   2563730                           Jacob's Quest - Voyage
2    2009450   2552980  Invector: Rhythm Galaxy - Latin Power Song Pack
3    1133420   2550750         Hero or Villain: Genesis — Supercharged!
4    2533950   2551000            Hot And Lovely ：Uniform - adult patch

In [91]:
dlcs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5445 entries, 0 to 5444
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   base_appid  5445 non-null   object
 1   dlc_appid   5445 non-null   object
 2   name        5445 non-null   object
dtypes: object(3)
memory usage: 127.7+ KB

In [92]:
demos_df.head()

   Unnamed: 0 full_game_appid demo_appid                         name
0           0         2214650    2573370          Rolando Deluxe Demo
1           1         1439980    2573460  Outrunner: Neon Nights Demo
2           2         2412240    2572840     Bubble Ghost Remake Demo
3           3         2448830    2572240           Time Handlers Demo
4           4         2379590    2570800    Hope's Final Defense Demo

In [93]:
demos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15449 entries, 0 to 15448
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       15449 non-null  int64
 1   full_game_appid  15449 non-null  object
 2   demo_appid       15449 non-null  object
 3   name             15448 non-null  object
dtypes: int64(1), object(3)
memory usage: 482.9+ KB

In [94]:
info_df.rename(columns={'appid': 'id'}, inplace=True)
gamalytic_df.rename(columns={'steamId': 'id'}, inplace=True)
dlcs_df.rename(columns={'base_appid': 'id'}, inplace=True)
demos_df.rename(columns={'full_game_appid': 'id'}, inplace=True)

In [ ]:
# Merging on game title or a common ID
merged_df = pd.merge(info_df, gamalytic_df, on='id', how='outer')
merged_df = pd.merge(merged_df, dlcs_df, on=['id','name'], how='outer')
merged_df = pd.merge(merged_df, demos_df,on=['id','name'], how='outer')

In [96]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189675 entries, 0 to 189674
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   189675 non-null  object
 1   name                 120009 non-null  object
 2   metacritic           3019 non-null    object
 3   steam_achievements   99167 non-null   object
 4   steam_trading_cards  99167 non-null   object
 5   workshop_support     99167 non-null   object
 6   genres               94389 non-null   object
 7   achievements_total   38115 non-null   object
 8   release_date         98861 non-null   object
 9   supported_platforms  99167 non-null   object
 10  price                93338 non-null   float64
 11  copiesSold           93338 non-null   float64
 12  publisherClass       93338 non-null   object
 13  reviewScore          93338 non-null   float64
 14  aiContent            0 non-null       float64
 15  dlc_appid            5445 non-null    object
 16  Unnamed: 0           15449 non-null   float64
 17  demo_appid           15449 non-null   object
dtypes: float64(5), object(13)
memory usage: 26.0+ MB

In [98]:
merged_df.isnull().sum()

id                          0
name                    69666
metacritic             186656
steam_achievements      90508
steam_trading_cards     90508
workshop_support        90508
genres                  95286
achievements_total     151560
release_date            90814
supported_platforms     90508
price                   96337
copiesSold              96337
publisherClass          96337
reviewScore             96337
aiContent              189675
dlc_appid              184230
Unnamed: 0             174226
demo_appid             174226
dtype: int64

In [99]:
merged_df.drop(columns=['Unnamed: 0'], inplace=True)

In [102]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189675 entries, 0 to 189674
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   189675 non-null  object
 1   name                 120009 non-null  object
 2   metacritic           3019 non-null    object
 3   steam_achievements   99167 non-null   object
 4   steam_trading_cards  99167 non-null   object
 5   workshop_support     99167 non-null   object
 6   genres               94389 non-null   object
 7   achievements_total   38115 non-null   object
 8   release_date         98861 non-null   object
 9   supported_platforms  99167 non-null   object
 10  price                93338 non-null   float64
 11  copiesSold           93338 non-null   float64
 12  publisherClass       93338 non-null   object
 13  reviewScore          93338 non-null   float64
 14  aiContent            0 non-null       float64
 15  dlc_appid            5445 non-null    object
 16  demo_appid           15449 non-null   object
dtypes: float64(4), object(13)
memory usage: 24.6+ MB

In [ ]:
merged_df.to_csv('final_merged_data.csv', index=False)